/*NORMELAZIED*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*IMPORT FONT*/

/* Webfont: Luciole-Regular */@font-face {
    font-family: 'Luciole';
    src: url('..\fonts\Luciole\Luciole-Regular\Luciole-Regular.eot'); /* IE9 Compat Modes */
    src: url('..\fonts\Luciole\Luciole-Regular\Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('..\fonts\Luciole\Luciole-Regular\Luciole-Regular.woff') format('woff'), /* Modern Browsers */
         url('..\fonts\Luciole\Luciole-Regular\Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('..\fonts\Luciole\Luciole-Regular\Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*IMPORT FRAMEWORK*/

/*VARIABLES COLOR ET STYLE*/
:root {
    /*variable color*/
    --colorUn: #2e2a29;
    --colorDeux: #00b8bb;
    --colorTrois: rgb(250, 250, 250);
    /*variable font*/
    --lucioleFont: 'Luciole', sans-serif;
    --nanumGothicFont: "Nanum Gothic", sans-serif;
    --sourceCodePro: "Source Code Pro", monospace;
    /* border radius*/
    --borderRadius: 10px;
}
body {
    background-color: var(--colorUn)
}
main {
    background-color: var(--colorTrois)
}

/*REGLES GENERALE*/

/* flex box */
.flex { 
    display: flex;
    flex-wrap: wrap;
}

.justifyBetween {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.justifyAround {
    justify-content: space-around;
}
.relative {
    position: relative;
}
/*largeur des sections sur une base de 12 colonnes*/

.container-1200{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.large_12 {
    width: 100%;
}
.large_6 {
    width: 50%;
}
.large_4 {
    width: 25%;
}
.large_1 {
    width: 8.3%;
}



/* fonts family */
h1, h2, h3, p {
    font-family: var(--nanumGothicFont);
}

h3 {
    color: var(--colorUn);
    font-size: 50px; 
    text-transform: uppercase;
    line-height: 1.2;
    padding: 5% 0;
}

/*HEADER*/
/* nav */

.header {
    position:fixed;
    background-color: var(--colorDeux);
    position: relative;
    width: 100%;
    height: 60px; 
}

header ul {
    list-style: none;
    align-items: center;
    height: 60px; 
    gap: 5%;
    padding: 0 0 0 2%; 
}
header li {
    font-family: var(--nanumGothicFont);
    color: var(--colorTrois)
}
/* HERO */

.hero {
    height: 180vh;
    background-color: var(--colorTrois)
}
.hero>div{ 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorUn);
    height: 100vh;
    width: 100%;
    padding: 5% 2%;
   
}

/* accroche */

.hero h2 {
    width: 100%;
    color: var(--colorTrois);
    font-size: 120px; 
    text-transform: uppercase;
    line-height: 1.2;
   
} 
.hero h1{
    width: 100%;
    color: var(--colorTrois);
    font-size: 40px; 
    text-transform: uppercase;
    line-height: 1.5;
   
}
.hero div .flex {
    position: absolute;
    top: 90%;
   
}
.hero p{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 0, 0);
    font-size: 200px; 
    text-transform: uppercase;
    line-height: 1.5;
}

/* image */
.containerImgHero {
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}

.containerImgHero img {   
    width: 100%;
    /* filter: grayscale(100%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     
}


.projet {
    position: relative;
    height: 100%;
  }

  .projet {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* projet */
.cardsProjets {  
  justify-content: space-around;
  height: 1000px;
  gap:5%
}
.cardsProjets div {
    background-color: var(--colorUn);
  
}
/* about */
.about {
}
.about h3 {
    text-align: end;
}
/* skills */
.skills {
   
}


/*FOOTER*/
/* contact */
footer {
    height: 100vh;
    background-color: aqua;
}

/* responsive*/
@media all and (max-width: 575px) {
}

@media screen and (min-width:576px) and (max-width:1080px) {
}